<div class="container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" placeholder="Enter your email" type="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        A valid email is required.
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" placeholder="Enter your password" type="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Password is required and must be at least 6 characters long.
      </div>
    </div>

    <div>
      <button [disabled]="loginForm.invalid" type="submit">Login</button>
    </div>
  </form>
</div>
